* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #000 0%,
    #1a0000 35%,
    #c62828 100%
  );
  color: #fff;
  padding: 25px;
}

/* TOPO */
.topo {
  text-align: center;
  margin-bottom: 25px;
}

.topo h1 {
  font-size: 2.2rem;
}

.topo p {
  font-size: 1.1rem;
  opacity: 0.9;
}

/* LISTA */
.lista {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* ITENS */
.item {
  background: rgba(0,0,0,0.55);
  padding: 18px;
  border-radius: 18px;
  font-size: 1.1rem;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid #fff;
}

.item:hover {
  background: rgba(0,0,0,0.8);
}

.item.selecionado {
  background: #000;
  border-color: #00ff88;
}

/* BOTÃO VOLTAR */
.voltar {
  display: block;
  margin: 35px 0 100px;
  text-align: center;
  text-decoration: none;
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 16px;
  border-radius: 18px;
  font-weight: 600;
  border: 2px solid #fff;
}

/* BOTÃO WHATS */
.zap {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: #fff;
  padding: 16px 22px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 8px 22px rgba(0,0,0,0.6);
  transition: 0.3s;
}

.zap:hover {
  transform: scale(1.1);
}


/* TAMANHO DA MARMITA */
.tamanhos {
  margin: 20px 0;
  text-align: center;
}

.tamanhos h2 {
  margin-bottom: 12px;
}

.opcoes {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.tam {
  background: rgba(0,0,0,0.6);
  color: #fff;
  border: 2px solid #fff;
  padding: 14px 18px;
  border-radius: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.tam:hover {
  background: #000;
}

.tam.selecionado {
  background: #000;
  border-color: #00ff88;
}


.bebidas {
  margin-top: 25px;
}

.bebidas h2 {
  color: #ff2b2b;
  margin-bottom: 10px;
  text-align: center;
}

.bebida-item {
  background: #111;
  border: 2px solid #ff2b2b;
  color: #fff;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.bebida-item:hover {
  background: #ff2b2b;
}

.bebida-item.selecionado {
  background: #ff2b2b;
  color: #000;
  font-weight: bold;
}
      