* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(180deg, #000 0%, #140000 40%, #2b0000 100%);
  color: #fff;
  min-height: 100vh;
  padding-bottom: 160px;
}


header {
  background: #111;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  background: #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

h2 {
  margin-bottom: 10px;
  color: #222;
}

.item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.item:last-child {
  border-bottom: none;
}

.total {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-finalizar {
  background: #25d366;
  color: #fff;
}

.btn-voltar {
  background: #444;
  color: #fff;
}



/* WHATSAPP */
.zap {
  position: fixed;
  bottom: 5px;
  right: 20px;
  background: #25d366;
  color: #fff;
  padding: 16px 22px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 8px 22px rgba(0,0,0,0.6);
  transition: 0.3s;
}

.zap:hover {
  transform: scale(1.1);
}