* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #000 0%,
    #1a0000 40%,
    #c62828 100%
  );
  color: #fff;
}

/* CONTAINER TELA CHEIA */
.container {
  min-height: 100vh;
  width: 100%;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGO */
.logo img {
  width: 150px;
  margin-bottom: 25px;
}

/* TÍTULO */
h1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

h1 span {
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
}

/* BOTÕES */
.buttons {
  width: 100%;
  max-width: 420px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.btn {
  background: rgba(0,0,0,0.6);
  color: #fff;
  text-decoration: none;
  padding: 18px;
  border-radius: 18px;
  font-weight: 600;
  font-size: 1.1rem;
  border: 2px solid #fff;
  transition: 0.3s;
}

.btn:hover {
  background: #000;
  transform: scale(1.04);
}

/* RODAPÉ */
footer {
  margin-top: auto;
  padding-top: 40px;
  font-size: 0.9rem;
  opacity: 0.9;
  text-align: center;
}
