* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.55)
  ),
  url("fundo.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 25px;
  text-align: center;
  color: #fff;
}

.logo img {
  width: 120px;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.6rem;
  font-weight: 300;
}

h1 span {
  font-weight: 700;
  font-size: 2rem;
  color: #ff3b3b;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  background: #fff;
  color: #c62828;
  text-decoration: none;
  padding: 15px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
}

.btn:hover {
  background: #c62828;
  color: #fff;
  transform: scale(1.03);
}

footer {
  margin-top: 35px;
  font-size: 0.85rem;
  opacity: 0.9;
}

.item {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  color: #fff;
}




